/* tailwind.css */

/* Tailwind base styles */
@tailwind base;

/* Tailwind components */
@tailwind components;

/* Tailwind utilities */
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
}

/* DaisyUI components (optional, as DaisyUI registers components automatically) */
